body
  margin: 0
  overflow-x: hidden

.btn-default 
  color: white
  background-color: rgb(197, 103, 41)
  border-color: #cccccc
.col-md-12.col-sm-12.col-xs-12
  padding-left: 0

.block
  padding: 25px 15px
#top
  z-index: 10
  background-color: none
  top: 0
  position: absolute

  .pdf-view
    a
      text-decoration: none
  .pdf-button
    color: black
    margin: auto

.home-scroll-down
  color: #fff
  font-size: 30px
  position: absolute
  bottom: 0
  margin: 0
  padding: 0
  width: 100%
  text-align: center
  background: transparent
  z-index: 50
  a
    background: rgba(0,0,0,0.4)
    color: #fff
    padding: 5px 15px
    bottom: 0px
    text-decoration: none
    display: inline-block

#flash-msg
  position: relative


.ucd-logo
  img
    width: 60%


#acceuil
#acceuil-back
  background-image: url('back-bike.jpg')
  background-size: 100% 
  background-size: cover
  position: absolute
  background-position: center center
  background-repeat: no-repeat
  width: 100%
  height: 100%
  bottom: 0px
  z-index: 1
  .accueil-bloc
    position: relative
    top: 300px
  
  .contact-form
    background-color: rgba(19, 17, 17, 0.67)
    color: white    
    text-align: center
#footer
  width: 100%
  z-index: 5000
  color: white
  font-size: 12px
  background-color: black
.footer-contenaire
  .ucd-info
    text-align: center
    .mail
      font-size: 16px
  .parteners
    text-align: left
    .surly
      margin-top: 35px
  .partenaires-bloc
    margin-top: 10px
  #qiriqoo
    background-color: rgba(0, 0, 0, 0.93)
    color: white

