html body
  max-width: 100%
  overflow-x: hidden
  overflow-x:hidden
  position: relative
  height: 100%
.btn-default 
  color: white
  background-color: rgb(197, 103, 41)
  border-color: #cccccc

.block
  padding: 25px 15px
#top
  z-index: 10
  background-color: none
  top: 0
  position: fixed

  .pdf-view
  .pdf-button
    color: black
    margin: auto
  .accroche
  .accroche-bloc
    padding: 1px 15px
    background-color: rgba(255, 255, 255, 0.82)
    img
      width: 100%
      display: block
      margin: auto
  .text-accroche
    color: rgb(197, 103, 41)
    font-size: 23px
    font-weight: bold
    text-align: center
    line-height: 0.9em

.home-scroll-down
  color: #fff
  font-size: 30px
  position: absolute
  z-index: 2
  bottom: 0px
  width: 100%
  text-align: center
  background: transparent
  left: 0 !important
  opacity: 0.8
  overflow: hidden
  min-height: 380px
  &:hover
    #footer
      opacity: 1
    .footer-contenaire
      top: 0

#flash-msg
  position: relative
  top: 170px
  z-index: 50000


.ucd-logo
  text-align: center
  img
    width: 70%


#acceuil
  background-image: url('bike-foret.jpg')
  display: block
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  width: 100%
  margin-bottom: 0
  
  .accueil-bloc
    position: relative
    top: 250px
  
  .contact-form
    background-color: rgba(19, 17, 17, 0.67)
    color: white
    
    text-align: center
#footer
  position: relative
  width: 100%
  min-height: 380px
  opacity: 0
  z-index: 500
  color: white
  font-size: 12px
  background-color: black
  -webkit-transition: opacity .30s ease-in-out
  -moz-transition: opacity .30s ease-in-out
.footer-contenaire
  position: absolute
  top: 400px
  left: 0
  -webkit-transition: top .8s ease-in-out
  -moz-transition: top .8s ease-in-out
  p
    font-size: 12px

  .ucd-info
    text-align: center
    p
      text-align: left
  .title
    background-color: white
    margin-bottom: 10px
    img
      width: 100%
      margin: auto
      display: block
      margin-bottom: 10px
  .parteners
    text-align: left
    .surly
      margin-top: 35px
  .partenaires-bloc
    margin-top: 25px
  #qiriqoo
    background-color: rgba(0, 0, 0, 0.93)
    color: white

